.socialCard1 {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing:  5px 5px 5px black;
    padding: 20px;
    margin: 10px;
    text-align: center;
    display: inline-flex;
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px; 
    height: 300px; 
}

    .cardImage {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
        margin-bottom: 10px;
        object-fit: cover;
        max-height: 150px;
    }

    
    .card-title {
        font-family: Inter, Arial;
        margin: 0;
        color: white;
    }

    .card-text {
        color: white;
        font-family: Inter, Arial;
        font-size: 1rem;
    }
  
  .App {
    text-align: center;
  }

  .socialCard1:hover {
    transform: translateY(-5px);
  }

  .userscontainer {
    justify-content: center;
    max-width: 1310px;
  }